# mnist 숫자 분류 문제
- 데이터 8x8 데이터를 1차원 1x64 데이터로 나타낸 것 
- knn 성능 베스트

In [ ]:
import pandas as pd

In [ ]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

print(train_data)
print(type(train_data))
print(train_data.shape)
print(train_data.info())

print(test_data)
print(type(test_data))
print(test_data.shape)
print(test_data.info())

      index  0  1   2   3   4   5  6  7  ...  56  57  58  59  60  61  62  63  label
0         0  0  0   5  13   9   1  0  0  ...   0   0   6  13  10   0   0   0      0
1         1  0  0   0  12  13   5  0  0  ...   0   0   0  11  16  10   0   0      1
2         2  0  0   0   4  15  12  0  0  ...   0   0   0   3  11  16   9   0      2
3         3  0  0   7  15  13   1  0  0  ...   0   0   7  13  13   9   0   0      3
4         4  0  0   0   1  11   0  0  0  ...   0   0   0   2  16   4   0   0      4
...     ... .. ..  ..  ..  ..  .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..  ..    ...
1432   1792  0  0   4  10  13   6  0  0  ...   0   0   2  14  15   9   0   0      9
1433   1793  0  0   6  16  13  11  1  0  ...   0   0   6  16  14   6   0   0      0
1434   1794  0  0   1  11  15   1  0  0  ...   0   0   2   9  13   6   0   0      8
1435   1795  0  0   2  10   7   0  0  0  ...   0   0   5  12  16  12   0   0      9
1436   1796  0  0  10  14   8   1  0  0  ...   0   1   8  12  14  12   1   0      8

[1437 rows x 66 columns]
<class 'pandas.core.frame.DataFrame'>
(1437, 66)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1437 entries, 0 to 1436
Data columns (total 66 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   1437 non-null   int64
 1   0       1437 non-null   int64
 2   1       1437 non-null   int64
 3   2       1437 non-null   int64
 4   3       1437 non-null   int64
 5   4       1437 non-null   int64
 6   5       1437 non-null   int64
 7   6       1437 non-null   int64
 8   7       1437 non-null   int64
 9   8       1437 non-null   int64
 10  9       1437 non-null   int64
 11  10      1437 non-null   int64
 12  11      1437 non-null   int64
 13  12      1437 non-null   int64
 14  13      1437 non-null   int64
 15  14      1437 non-null   int64
 16  15      1437 non-null   int64
 17  16      1437 non-null   int64
 18  17      1437 non-null   int64
 19  18      1437 non-null   int64
 20  19      1437 non-null   int64
 21  20      1437 non-null   int64
 22  21      1437 non-null   int64
 23  22      1437 non-null   int64
 24  23      1437 non-null   int64
 25  24      1437 non-null   int64
 26  25      1437 non-null   int64
 27  26      1437 non-null   int64
 28  27      1437 non-null   int64
 29  28      1437 non-null   int64
 30  29      1437 non-null   int64
 31  30      1437 non-null   int64
 32  31      1437 non-null   int64
 33  32      1437 non-null   int64
 34  33      1437 non-null   int64
 35  34      1437 non-null   int64
 36  35      1437 non-null   int64
 37  36      1437 non-null   int64
 38  37      1437 non-null   int64
 39  38      1437 non-null   int64
 40  39      1437 non-null   int64
 41  40      1437 non-null   int64
 42  41      1437 non-null   int64
 43  42      1437 non-null   int64
 44  43      1437 non-null   int64
 45  44      1437 non-null   int64
 46  45      1437 non-null   int64
 47  46      1437 non-null   int64
 48  47      1437 non-null   int64
 49  48      1437 non-null   int64
 50  49      1437 non-null   int64
 51  50      1437 non-null   int64
 52  51      1437 non-null   int64
 53  52      1437 non-null   int64
 54  53      1437 non-null   int64
 55  54      1437 non-null   int64
 56  55      1437 non-null   int64
 57  56      1437 non-null   int64
 58  57      1437 non-null   int64
 59  58      1437 non-null   int64
 60  59      1437 non-null   int64
 61  60      1437 non-null   int64
 62  61      1437 non-null   int64
 63  62      1437 non-null   int64
 64  63      1437 non-null   int64
 65  label   1437 non-null   int64
dtypes: int64(66)
memory usage: 741.1 KB
None
     index    0    1     2     3     4  ...    58    59    60    61    62   63
0       23  0.0  1.0   8.0  12.0  15.0  ...  14.0  15.0  11.0   2.0   0.0  0.0
1       29  0.0  0.0   9.0  13.0   7.0  ...   7.0  12.0  12.0  12.0  11.0  0.0
2       30  0.0  0.0  10.0  14.0  11.0  ...  11.0  16.0  12.0   3.0   0.0  0.0
3       32  0.0  2.0  13.0  16.0  16.0  ...  16.0  15.0   8.0   0.0   0.0  0.0
4       44  0.0  0.0   9.0  16.0  16.0  ...  13.0  10.0   0.0   0.0   0.0  0.0
..     ...  ...  ...   ...   ...   ...  ...   ...   ...   ...   ...   ...  ...
355   1774  0.0  0.0   6.0  12.0  12.0  ...   2.0  11.0  10.0   4.0   0.0  0.0
356   1784  0.0  0.0   1.0  10.0  14.0  ...   0.0  12.0  14.0   4.0   0.0  0.0
357   1785  0.0  1.0  10.0  16.0  15.0  ...  10.0  15.0   2.0   0.0   0.0  0.0
358   1786  0.0  0.0   4.0  14.0  15.0  ...   4.0  13.0  15.0   9.0   0.0  0.0
359   1790  0.0  0.0   5.0  12.0   8.0  ...   6.0  12.0  12.0   3.0   0.0  0.0

[360 rows x 65 columns]
<class 'pandas.core.frame.DataFrame'>
(360, 65)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 65 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   360 non-null    int64
 1   0       360 non-null    float64
 2   1       360 non-null    float64
 3   2       360 non-null    float64
 4   3       360 non-null    float64
 5   4       360 non-null    float64
 6   5       360 non-null    float64
 7   6       360 non-null    float64
 8   7       360 non-null    float64
 9   8       360 non-null    float64
 10  9       360 non-null    float64
 11  10      360 non-null    float64
 12  11      360 non-null    float64
 13  12      360 non-null    float64
 14  13      360 non-null    float64
 15  14      360 non-null    float64
 16  15      360 non-null    float64
 17  16      360 non-null    float64
 18  17      360 non-null    float64
 19  18      360 non-null    float64
 20  19      360 non-null    float64
 21  20      360 non-null    float64
 22  21      360 non-null    float64
 23  22      360 non-null    float64
 24  23      360 non-null    float64
 25  24      360 non-null    float64
 26  25      360 non-null    float64
 27  26      360 non-null    float64
 28  27      360 non-null    float64
 29  28      360 non-null    float64
 30  29      360 non-null    float64
 31  30      360 non-null    float64
 32  31      360 non-null    float64
 33  32      360 non-null    float64
 34  33      360 non-null    float64
 35  34      360 non-null    float64
 36  35      360 non-null    float64
 37  36      360 non-null    float64
 38  37      360 non-null    float64
 39  38      360 non-null    float64
 40  39      360 non-null    float64
 41  40      360 non-null    float64
 42  41      360 non-null    float64
 43  42      360 non-null    float64
 44  43      360 non-null    float64
 45  44      360 non-null    float64
 46  45      360 non-null    float64
 47  46      360 non-null    float64
 48  47      360 non-null    float64
 49  48      360 non-null    float64
 50  49      360 non-null    float64
 51  50      360 non-null    float64
 52  51      360 non-null    float64
 53  52      360 non-null    float64
 54  53      360 non-null    float64
 55  54      360 non-null    float64
 56  55      360 non-null    float64
 57  56      360 non-null    float64
 58  57      360 non-null    float64
 59  58      360 non-null    float64
 60  59      360 non-null    float64
 61  60      360 non-null    float64
 62  61      360 non-null    float64
 63  62      360 non-null    float64
 64  63      360 non-null    float64
dtypes: float64(64), int64(1)
memory usage: 182.9 KB
None

In [ ]:
'''x_train = train_data.iloc[:,1:10]
y_train = train_data.iloc[:,10]
x_test = test_data.iloc[:,1:10]'''

x_train = train_data.drop(['index','label'],axis=1)
y_train = train_data['label'] 
x_test = test_data.drop(['index'],axis=1)

print(x_train)
print(type(x_train))
print(x_train.shape)

print(y_train)
print(type(y_train))
print(y_train.shape)

print(x_test)
print(type(x_test))
print(x_test.shape)

      0  1   2   3   4   5  6  7  8  9  ...  54  55  56  57  58  59  60  61  62  63
0     0  0   5  13   9   1  0  0  0  0  ...   0   0   0   0   6  13  10   0   0   0
1     0  0   0  12  13   5  0  0  0  0  ...   0   0   0   0   0  11  16  10   0   0
2     0  0   0   4  15  12  0  0  0  0  ...   5   0   0   0   0   3  11  16   9   0
3     0  0   7  15  13   1  0  0  0  8  ...   9   0   0   0   7  13  13   9   0   0
4     0  0   0   1  11   0  0  0  0  0  ...   0   0   0   0   0   2  16   4   0   0
...  .. ..  ..  ..  ..  .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
1432  0  0   4  10  13   6  0  0  0  1  ...   4   0   0   0   2  14  15   9   0   0
1433  0  0   6  16  13  11  1  0  0  0  ...   1   0   0   0   6  16  14   6   0   0
1434  0  0   1  11  15   1  0  0  0  0  ...   0   0   0   0   2   9  13   6   0   0
1435  0  0   2  10   7   0  0  0  0  0  ...   2   0   0   0   5  12  16  12   0   0
1436  0  0  10  14   8   1  0  0  0  2  ...   8   0   0   1   8  12  14  12   1   0

[1437 rows x 64 columns]
<class 'pandas.core.frame.DataFrame'>
(1437, 64)
0       0
1       1
2       2
3       3
4       4
       ..
1432    9
1433    0
1434    8
1435    9
1436    8
Name: label, Length: 1437, dtype: int64
<class 'pandas.core.series.Series'>
(1437,)
       0    1     2     3     4     5  ...    58    59    60    61    62   63
0    0.0  1.0   8.0  12.0  15.0  14.0  ...  14.0  15.0  11.0   2.0   0.0  0.0
1    0.0  0.0   9.0  13.0   7.0   0.0  ...   7.0  12.0  12.0  12.0  11.0  0.0
2    0.0  0.0  10.0  14.0  11.0   3.0  ...  11.0  16.0  12.0   3.0   0.0  0.0
3    0.0  2.0  13.0  16.0  16.0  16.0  ...  16.0  15.0   8.0   0.0   0.0  0.0
4    0.0  0.0   9.0  16.0  16.0  16.0  ...  13.0  10.0   0.0   0.0   0.0  0.0
..   ...  ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...  ...
355  0.0  0.0   6.0  12.0  12.0   6.0  ...   2.0  11.0  10.0   4.0   0.0  0.0
356  0.0  0.0   1.0  10.0  14.0  13.0  ...   0.0  12.0  14.0   4.0   0.0  0.0
357  0.0  1.0  10.0  16.0  15.0   2.0  ...  10.0  15.0   2.0   0.0   0.0  0.0
358  0.0  0.0   4.0  14.0  15.0   6.0  ...   4.0  13.0  15.0   9.0   0.0  0.0
359  0.0  0.0   5.0  12.0   8.0   0.0  ...   6.0  12.0  12.0   3.0   0.0  0.0

[360 rows x 64 columns]
<class 'pandas.core.frame.DataFrame'>
(360, 64)

#### 모델 학습

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=5, weights='distance') # weights=uniform 디폴트 값
neigh.fit(x_train, y_train)

y_train_pred = neigh.predict(x_train)
y_test_pred = neigh.predict(x_test)

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_train, y_train_pred))

0.0

In [ ]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=1).fit(x_train, y_train)

y_train_pred2 = clf.predict(x_train)
y_test_pred2 = clf.predict(x_test)

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_train, y_train_pred2))

0.0

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
import numpy as np
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

clf = LinearDiscriminantAnalysis()
clf.fit(x_train, y_train)


y_train_pred3 = clf.predict(x_train)
y_test_pred3 = clf.predict(x_test)

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_train, y_train_pred3))

0.8009742519137091

In [ ]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

clf = QuadraticDiscriminantAnalysis()
clf.fit(x_train, y_train)


y_train_pred4 = clf.predict(x_train)
y_test_pred4 = clf.predict(x_test)

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_train, y_train_pred4))

0.6986778009742519

/usr/local/lib/python3.7/dist-packages/sklearn/discriminant_analysis.py:691: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion='entropy', random_state=1)

clf.fit(x_train, y_train)

y_train_pred5 = clf.predict(x_train)
y_test_pred5 = clf.predict(x_test)

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_train, y_train_pred5))

# cross_val_score(clf, iris.data, iris.target, cv=10)

0.0

In [ ]:

from sklearn.linear_model import LinearRegression


reg = LinearRegression().fit(x_train, y_train)
#reg.score(x_train, x_train)

y_train_pred6 = reg.predict(x_train)
y_test_pred6 = reg.predict(x_test)

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_train, y_train_pred6))

3.335295304938824

## 제출 데이터 생성

In [ ]:
submit_data = pd.read_csv('sample_submission.csv')

print(submit_data)
print(type(submit_data))
print(submit_data.shape)
print(submit_data.info())

     index  label
0       23      1
1       29      1
2       30      1
3       32      1
4       44      1
..     ...    ...
355   1774      1
356   1784      1
357   1785      1
358   1786      1
359   1790      1

[360 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
(360, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   360 non-null    int64
 1   label   360 non-null    int64
dtypes: int64(2)
memory usage: 5.8 KB
None

In [ ]:
submit_data['label'] = y_test_pred

print(submit_data)

submit_data.to_csv('submit1_distance.csv',index=None)

     index  label
0       23      3
1       29      9
2       30      0
3       32      5
4       44      7
..     ...    ...
355   1774      1
356   1784      5
357   1785      7
358   1786      9
359   1790      8

[360 rows x 2 columns]

In [ ]:
submit_data['label'] = y_test_pred2

print(submit_data)

submit_data.to_csv('submit2.csv',index=None)

     index  label
0       23      3
1       29      9
2       30      0
3       32      5
4       44      7
..     ...    ...
355   1774      1
356   1784      5
357   1785      7
358   1786      9
359   1790      8

[360 rows x 2 columns]

In [ ]:
submit_data['label'] = y_test_pred3

print(submit_data)

submit_data.to_csv('submit3.csv',index=None)

     index  label
0       23      3
1       29      9
2       30      0
3       32      5
4       44      7
..     ...    ...
355   1774      1
356   1784      5
357   1785      7
358   1786      9
359   1790      8

[360 rows x 2 columns]

In [ ]:
submit_data['label'] = y_test_pred4

print(submit_data)

submit_data.to_csv('submit4.csv',index=None)

     index  label
0       23      3
1       29      9
2       30      0
3       32      5
4       44      7
..     ...    ...
355   1774      1
356   1784      5
357   1785      7
358   1786      9
359   1790      8

[360 rows x 2 columns]

In [ ]:
submit_data['label'] = y_test_pred5

print(submit_data)

submit_data.to_csv('submit5.csv',index=None)

     index  label
0       23      3
1       29      9
2       30      0
3       32      5
4       44      7
..     ...    ...
355   1774      1
356   1784      5
357   1785      7
358   1786      9
359   1790      2

[360 rows x 2 columns]

In [ ]:
submit_data['label'] = y_test_pred6

print(submit_data)

submit_data.to_csv('submit6.csv',index=None)

     index     label
0       23  3.551552
1       29  4.707770
2       30  2.422931
3       32  4.446456
4       44  6.703805
..     ...       ...
355   1774  4.730243
356   1784  7.570154
357   1785  5.342711
358   1786  4.002829
359   1790  4.138255

[360 rows x 2 columns]

## 결과
- 숫자데이터를 분류하는 분류문제
- knn이 가장 성능 잘 나옴