# 심리테스트를 통한 선거투표 분류 문제
- 선거투표의 유무를 분류하는 분류문제
- 데이터에서 object 형 처리가 관건
- object형 drop 보다는 lableencoding 한 것이 점수 높음
- 성능은 LDA 가 가장 뛰어남

In [ ]:
import pandas as pd

In [ ]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

print(train_data)
print(type(train_data))
print(train_data.shape)
print(train_data.info())

print(test_data)
print(type(test_data))
print(test_data.shape)
print(test_data.info())

       index  QaA   QaE  QbA   QbE  ...  wr_10  wr_11  wr_12  wr_13  voted
0          2  4.0  1623  1.0  1480  ...      1      0      1      1      1
1          3  3.0   504  3.0  2311  ...      1      0      1      1      1
2          5  2.0   834  1.0  1769  ...      0      0      0      0      2
3          8  5.0   795  2.0  3469  ...      0      0      1      1      1
4          9  2.0  1668  1.0   866  ...      1      1      1      1      1
...      ...  ...   ...  ...   ...  ...    ...    ...    ...    ...    ...
22305  45525  1.0   549  4.0  2383  ...      1      0      1      1      1
22306  45526  4.0   454  5.0  1007  ...      1      0      1      1      2
22307  45527  2.0  1050  5.0   619  ...      1      0      1      1      2
22308  45530  1.0   747  3.0  1331  ...      1      0      1      1      1
22309  45531  3.0   496  5.0  1827  ...      1      0      1      1      1

[22310 rows x 78 columns]
<class 'pandas.core.frame.DataFrame'>
(22310, 78)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22310 entries, 0 to 22309
Data columns (total 78 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       22310 non-null  int64
 1   QaA         22310 non-null  float64
 2   QaE         22310 non-null  int64
 3   QbA         22310 non-null  float64
 4   QbE         22310 non-null  int64
 5   QcA         22310 non-null  float64
 6   QcE         22310 non-null  int64
 7   QdA         22310 non-null  float64
 8   QdE         22310 non-null  int64
 9   QeA         22310 non-null  float64
 10  QeE         22310 non-null  int64
 11  QfA         22310 non-null  float64
 12  QfE         22310 non-null  int64
 13  QgA         22310 non-null  float64
 14  QgE         22310 non-null  int64
 15  QhA         22310 non-null  float64
 16  QhE         22310 non-null  int64
 17  QiA         22310 non-null  float64
 18  QiE         22310 non-null  int64
 19  QjA         22310 non-null  float64
 20  QjE         22310 non-null  int64
 21  QkA         22310 non-null  float64
 22  QkE         22310 non-null  int64
 23  QlA         22310 non-null  float64
 24  QlE         22310 non-null  int64
 25  QmA         22310 non-null  float64
 26  QmE         22310 non-null  int64
 27  QnA         22310 non-null  float64
 28  QnE         22310 non-null  int64
 29  QoA         22310 non-null  float64
 30  QoE         22310 non-null  int64
 31  QpA         22310 non-null  float64
 32  QpE         22310 non-null  int64
 33  QqA         22310 non-null  float64
 34  QqE         22310 non-null  int64
 35  QrA         22310 non-null  float64
 36  QrE         22310 non-null  int64
 37  QsA         22310 non-null  float64
 38  QsE         22310 non-null  int64
 39  QtA         22310 non-null  float64
 40  QtE         22310 non-null  int64
 41  age_group   22310 non-null  object
 42  education   22310 non-null  int64
 43  engnat      22310 non-null  int64
 44  familysize  22310 non-null  int64
 45  gender      22310 non-null  object
 46  hand        22310 non-null  int64
 47  married     22310 non-null  int64
 48  race        22310 non-null  object
 49  religion    22310 non-null  object
 50  tp01        22310 non-null  int64
 51  tp02        22310 non-null  int64
 52  tp03        22310 non-null  int64
 53  tp04        22310 non-null  int64
 54  tp05        22310 non-null  int64
 55  tp06        22310 non-null  int64
 56  tp07        22310 non-null  int64
 57  tp08        22310 non-null  int64
 58  tp09        22310 non-null  int64
 59  tp10        22310 non-null  int64
 60  urban       22310 non-null  int64
 61  wf_01       22310 non-null  int64
 62  wf_02       22310 non-null  int64
 63  wf_03       22310 non-null  int64
 64  wr_01       22310 non-null  int64
 65  wr_02       22310 non-null  int64
 66  wr_03       22310 non-null  int64
 67  wr_04       22310 non-null  int64
 68  wr_05       22310 non-null  int64
 69  wr_06       22310 non-null  int64
 70  wr_07       22310 non-null  int64
 71  wr_08       22310 non-null  int64
 72  wr_09       22310 non-null  int64
 73  wr_10       22310 non-null  int64
 74  wr_11       22310 non-null  int64
 75  wr_12       22310 non-null  int64
 76  wr_13       22310 non-null  int64
 77  voted       22310 non-null  int64
dtypes: float64(20), int64(54), object(4)
memory usage: 13.3+ MB
None
      index  QaA   QaE  QbA   QbE  ...  wr_09  wr_10  wr_11  wr_12  wr_13
0         6  1.0  1382  1.0  1473  ...      0      1      0      1      1
1        10  1.0  1465  1.0  7581  ...      0      1      1      1      1
2        12  2.0   466  4.0  1650  ...      0      1      1      1      1
3        14  1.0   739  4.0  2544  ...      0      1      0      1      1
4        25  3.0   483  2.0   871  ...      0      1      0      1      1
...     ...  ...   ...  ...   ...  ...    ...    ...    ...    ...    ...
9557  45506  1.0   511  5.0   705  ...      0      1      0      1      1
9558  45509  1.0   544  5.0  1052  ...      0      1      0      1      1
9559  45512  2.0   681  1.0  1701  ...      0      1      0      1      1
9560  45516  2.0   314  2.0  1286  ...      0      1      0      1      1
9561  45529  4.0   593  1.0   857  ...      0      1      0      1      1

[9562 rows x 77 columns]
<class 'pandas.core.frame.DataFrame'>
(9562, 77)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9562 entries, 0 to 9561
Data columns (total 77 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       9562 non-null   int64
 1   QaA         9562 non-null   float64
 2   QaE         9562 non-null   int64
 3   QbA         9562 non-null   float64
 4   QbE         9562 non-null   int64
 5   QcA         9562 non-null   float64
 6   QcE         9562 non-null   int64
 7   QdA         9562 non-null   float64
 8   QdE         9562 non-null   int64
 9   QeA         9562 non-null   float64
 10  QeE         9562 non-null   int64
 11  QfA         9562 non-null   float64
 12  QfE         9562 non-null   int64
 13  QgA         9562 non-null   float64
 14  QgE         9562 non-null   int64
 15  QhA         9562 non-null   float64
 16  QhE         9562 non-null   int64
 17  QiA         9562 non-null   float64
 18  QiE         9562 non-null   int64
 19  QjA         9562 non-null   float64
 20  QjE         9562 non-null   int64
 21  QkA         9562 non-null   float64
 22  QkE         9562 non-null   int64
 23  QlA         9562 non-null   float64
 24  QlE         9562 non-null   int64
 25  QmA         9562 non-null   float64
 26  QmE         9562 non-null   int64
 27  QnA         9562 non-null   float64
 28  QnE         9562 non-null   int64
 29  QoA         9562 non-null   float64
 30  QoE         9562 non-null   int64
 31  QpA         9562 non-null   float64
 32  QpE         9562 non-null   int64
 33  QqA         9562 non-null   float64
 34  QqE         9562 non-null   int64
 35  QrA         9562 non-null   float64
 36  QrE         9562 non-null   int64
 37  QsA         9562 non-null   float64
 38  QsE         9562 non-null   int64
 39  QtA         9562 non-null   float64
 40  QtE         9562 non-null   int64
 41  age_group   9562 non-null   object
 42  education   9562 non-null   int64
 43  engnat      9562 non-null   int64
 44  familysize  9562 non-null   int64
 45  gender      9562 non-null   object
 46  hand        9562 non-null   int64
 47  married     9562 non-null   int64
 48  race        9562 non-null   object
 49  religion    9562 non-null   object
 50  tp01        9562 non-null   int64
 51  tp02        9562 non-null   int64
 52  tp03        9562 non-null   int64
 53  tp04        9562 non-null   int64
 54  tp05        9562 non-null   int64
 55  tp06        9562 non-null   int64
 56  tp07        9562 non-null   int64
 57  tp08        9562 non-null   int64
 58  tp09        9562 non-null   int64
 59  tp10        9562 non-null   int64
 60  urban       9562 non-null   int64
 61  wf_01       9562 non-null   int64
 62  wf_02       9562 non-null   int64
 63  wf_03       9562 non-null   int64
 64  wr_01       9562 non-null   int64
 65  wr_02       9562 non-null   int64
 66  wr_03       9562 non-null   int64
 67  wr_04       9562 non-null   int64
 68  wr_05       9562 non-null   int64
 69  wr_06       9562 non-null   int64
 70  wr_07       9562 non-null   int64
 71  wr_08       9562 non-null   int64
 72  wr_09       9562 non-null   int64
 73  wr_10       9562 non-null   int64
 74  wr_11       9562 non-null   int64
 75  wr_12       9562 non-null   int64
 76  wr_13       9562 non-null   int64
dtypes: float64(20), int64(53), object(4)
memory usage: 5.6+ MB
None

- age_group,gender ,race ,religion   속성이 object형이라 drop 또는 라벨인코딩 해야 함

#### 전처리 방법1: object 형 데이터 drop

In [ ]:
'''x_train = train_data.iloc[:,1:10]
y_train = train_data.iloc[:,10]
x_test = test_data.iloc[:,1:10]'''

x_train = train_data.drop(['index','age_group','gender','race','religion','voted'],axis=1)
y_train = train_data['voted'] 
x_test = test_data.drop(['index','age_group','gender','race','religion'],axis=1)

print(x_train)
print(type(x_train))
print(x_train.shape)

print(y_train)
print(type(y_train))
print(y_train.shape)

print(x_test)
print(type(x_test))
print(x_test.shape)

       QaA   QaE  QbA   QbE  QcA  ...  wr_09  wr_10  wr_11  wr_12  wr_13
0      4.0  1623  1.0  1480  1.0  ...      1      1      0      1      1
1      3.0   504  3.0  2311  4.0  ...      0      1      0      1      1
2      2.0   834  1.0  1769  4.0  ...      0      0      0      0      0
3      5.0   795  2.0  3469  4.0  ...      0      0      0      1      1
4      2.0  1668  1.0   866  1.0  ...      0      1      1      1      1
...    ...   ...  ...   ...  ...  ...    ...    ...    ...    ...    ...
22305  1.0   549  4.0  2383  5.0  ...      1      1      0      1      1
22306  4.0   454  5.0  1007  4.0  ...      0      1      0      1      1
22307  2.0  1050  5.0   619  4.0  ...      1      1      0      1      1
22308  1.0   747  3.0  1331  4.0  ...      1      1      0      1      1
22309  3.0   496  5.0  1827  5.0  ...      0      1      0      1      1

[22310 rows x 72 columns]
<class 'pandas.core.frame.DataFrame'>
(22310, 72)
0        1
1        1
2        2
3        1
4        1
        ..
22305    1
22306    2
22307    2
22308    1
22309    1
Name: voted, Length: 22310, dtype: int64
<class 'pandas.core.series.Series'>
(22310,)
      QaA   QaE  QbA   QbE  QcA   QcE  ...  wr_08  wr_09  wr_10  wr_11  wr_12  wr_13
0     1.0  1382  1.0  1473  5.0  1479  ...      1      0      1      0      1      1
1     1.0  1465  1.0  7581  4.0  1345  ...      1      0      1      1      1      1
2     2.0   466  4.0  1650  4.0   655  ...      1      0      1      1      1      1
3     1.0   739  4.0  2544  5.0   880  ...      1      0      1      0      1      1
4     3.0   483  2.0   871  2.0   849  ...      1      0      1      0      1      1
...   ...   ...  ...   ...  ...   ...  ...    ...    ...    ...    ...    ...    ...
9557  1.0   511  5.0   705  5.0  1141  ...      1      0      1      0      1      1
9558  1.0   544  5.0  1052  5.0   872  ...      1      0      1      0      1      1
9559  2.0   681  1.0  1701  2.0  1147  ...      1      0      1      0      1      1
9560  2.0   314  2.0  1286  4.0   544  ...      1      0      1      0      1      1
9561  4.0   593  1.0   857  1.0  1047  ...      1      0      1      0      1      1

[9562 rows x 72 columns]
<class 'pandas.core.frame.DataFrame'>
(9562, 72)

#### 전처리방법 2: object 형 피쳐 라벨 인코딩 시킨 방법
- 인코딩 한 것이 점수 더 잘 나옴

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
train_data['age_group'] = le.fit_transform(train_data['age_group'])
train_data['gender'] = le.fit_transform(train_data['gender'])
train_data['race'] = le.fit_transform(train_data['race'])
train_data['religion'] = le.fit_transform(train_data['religion'])

test_data['age_group'] = le.fit_transform(test_data['age_group'])
test_data['gender'] = le.fit_transform(test_data['gender'])
test_data['race'] = le.fit_transform(test_data['race'])
test_data['religion'] = le.fit_transform(test_data['religion'])
le.classes_

array(['Agnostic', 'Atheist', 'Buddhist', 'Christian_Catholic',
       'Christian_Mormon', 'Christian_Other', 'Christian_Protestant',
       'Hindu', 'Jewish', 'Muslim', 'Other', 'Sikh'], dtype=object)

In [ ]:
'''x_train = train_data.iloc[:,1:10]
y_train = train_data.iloc[:,10]
x_test = test_data.iloc[:,1:10]'''

x_train = train_data.drop(['index','voted'],axis=1)
y_train = train_data['voted'] 
x_test = test_data.drop(['index'],axis=1)

print(x_train)
print(type(x_train))
print(x_train.shape)
print(x_train.info())

print(y_train)
print(type(y_train))
print(y_train.shape)

print(x_test)
print(type(x_test))
print(x_test.shape)
print(x_test.info())

       QaA   QaE  QbA   QbE  QcA  ...  wr_09  wr_10  wr_11  wr_12  wr_13
0      4.0  1623  1.0  1480  1.0  ...      1      1      0      1      1
1      3.0   504  3.0  2311  4.0  ...      0      1      0      1      1
2      2.0   834  1.0  1769  4.0  ...      0      0      0      0      0
3      5.0   795  2.0  3469  4.0  ...      0      0      0      1      1
4      2.0  1668  1.0   866  1.0  ...      0      1      1      1      1
...    ...   ...  ...   ...  ...  ...    ...    ...    ...    ...    ...
22305  1.0   549  4.0  2383  5.0  ...      1      1      0      1      1
22306  4.0   454  5.0  1007  4.0  ...      0      1      0      1      1
22307  2.0  1050  5.0   619  4.0  ...      1      1      0      1      1
22308  1.0   747  3.0  1331  4.0  ...      1      1      0      1      1
22309  3.0   496  5.0  1827  5.0  ...      0      1      0      1      1

[22310 rows x 76 columns]
<class 'pandas.core.frame.DataFrame'>
(22310, 76)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22310 entries, 0 to 22309
Data columns (total 76 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   QaA         22310 non-null  float64
 1   QaE         22310 non-null  int64
 2   QbA         22310 non-null  float64
 3   QbE         22310 non-null  int64
 4   QcA         22310 non-null  float64
 5   QcE         22310 non-null  int64
 6   QdA         22310 non-null  float64
 7   QdE         22310 non-null  int64
 8   QeA         22310 non-null  float64
 9   QeE         22310 non-null  int64
 10  QfA         22310 non-null  float64
 11  QfE         22310 non-null  int64
 12  QgA         22310 non-null  float64
 13  QgE         22310 non-null  int64
 14  QhA         22310 non-null  float64
 15  QhE         22310 non-null  int64
 16  QiA         22310 non-null  float64
 17  QiE         22310 non-null  int64
 18  QjA         22310 non-null  float64
 19  QjE         22310 non-null  int64
 20  QkA         22310 non-null  float64
 21  QkE         22310 non-null  int64
 22  QlA         22310 non-null  float64
 23  QlE         22310 non-null  int64
 24  QmA         22310 non-null  float64
 25  QmE         22310 non-null  int64
 26  QnA         22310 non-null  float64
 27  QnE         22310 non-null  int64
 28  QoA         22310 non-null  float64
 29  QoE         22310 non-null  int64
 30  QpA         22310 non-null  float64
 31  QpE         22310 non-null  int64
 32  QqA         22310 non-null  float64
 33  QqE         22310 non-null  int64
 34  QrA         22310 non-null  float64
 35  QrE         22310 non-null  int64
 36  QsA         22310 non-null  float64
 37  QsE         22310 non-null  int64
 38  QtA         22310 non-null  float64
 39  QtE         22310 non-null  int64
 40  age_group   22310 non-null  int64
 41  education   22310 non-null  int64
 42  engnat      22310 non-null  int64
 43  familysize  22310 non-null  int64
 44  gender      22310 non-null  int64
 45  hand        22310 non-null  int64
 46  married     22310 non-null  int64
 47  race        22310 non-null  int64
 48  religion    22310 non-null  int64
 49  tp01        22310 non-null  int64
 50  tp02        22310 non-null  int64
 51  tp03        22310 non-null  int64
 52  tp04        22310 non-null  int64
 53  tp05        22310 non-null  int64
 54  tp06        22310 non-null  int64
 55  tp07        22310 non-null  int64
 56  tp08        22310 non-null  int64
 57  tp09        22310 non-null  int64
 58  tp10        22310 non-null  int64
 59  urban       22310 non-null  int64
 60  wf_01       22310 non-null  int64
 61  wf_02       22310 non-null  int64
 62  wf_03       22310 non-null  int64
 63  wr_01       22310 non-null  int64
 64  wr_02       22310 non-null  int64
 65  wr_03       22310 non-null  int64
 66  wr_04       22310 non-null  int64
 67  wr_05       22310 non-null  int64
 68  wr_06       22310 non-null  int64
 69  wr_07       22310 non-null  int64
 70  wr_08       22310 non-null  int64
 71  wr_09       22310 non-null  int64
 72  wr_10       22310 non-null  int64
 73  wr_11       22310 non-null  int64
 74  wr_12       22310 non-null  int64
 75  wr_13       22310 non-null  int64
dtypes: float64(20), int64(56)
memory usage: 12.9 MB
None
0        1
1        1
2        2
3        1
4        1
        ..
22305    1
22306    2
22307    2
22308    1
22309    1
Name: voted, Length: 22310, dtype: int64
<class 'pandas.core.series.Series'>
(22310,)
      QaA   QaE  QbA   QbE  QcA   QcE  ...  wr_08  wr_09  wr_10  wr_11  wr_12  wr_13
0     1.0  1382  1.0  1473  5.0  1479  ...      1      0      1      0      1      1
1     1.0  1465  1.0  7581  4.0  1345  ...      1      0      1      1      1      1
2     2.0   466  4.0  1650  4.0   655  ...      1      0      1      1      1      1
3     1.0   739  4.0  2544  5.0   880  ...      1      0      1      0      1      1
4     3.0   483  2.0   871  2.0   849  ...      1      0      1      0      1      1
...   ...   ...  ...   ...  ...   ...  ...    ...    ...    ...    ...    ...    ...
9557  1.0   511  5.0   705  5.0  1141  ...      1      0      1      0      1      1
9558  1.0   544  5.0  1052  5.0   872  ...      1      0      1      0      1      1
9559  2.0   681  1.0  1701  2.0  1147  ...      1      0      1      0      1      1
9560  2.0   314  2.0  1286  4.0   544  ...      1      0      1      0      1      1
9561  4.0   593  1.0   857  1.0  1047  ...      1      0      1      0      1      1

[9562 rows x 76 columns]
<class 'pandas.core.frame.DataFrame'>
(9562, 76)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9562 entries, 0 to 9561
Data columns (total 76 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   QaA         9562 non-null   float64
 1   QaE         9562 non-null   int64
 2   QbA         9562 non-null   float64
 3   QbE         9562 non-null   int64
 4   QcA         9562 non-null   float64
 5   QcE         9562 non-null   int64
 6   QdA         9562 non-null   float64
 7   QdE         9562 non-null   int64
 8   QeA         9562 non-null   float64
 9   QeE         9562 non-null   int64
 10  QfA         9562 non-null   float64
 11  QfE         9562 non-null   int64
 12  QgA         9562 non-null   float64
 13  QgE         9562 non-null   int64
 14  QhA         9562 non-null   float64
 15  QhE         9562 non-null   int64
 16  QiA         9562 non-null   float64
 17  QiE         9562 non-null   int64
 18  QjA         9562 non-null   float64
 19  QjE         9562 non-null   int64
 20  QkA         9562 non-null   float64
 21  QkE         9562 non-null   int64
 22  QlA         9562 non-null   float64
 23  QlE         9562 non-null   int64
 24  QmA         9562 non-null   float64
 25  QmE         9562 non-null   int64
 26  QnA         9562 non-null   float64
 27  QnE         9562 non-null   int64
 28  QoA         9562 non-null   float64
 29  QoE         9562 non-null   int64
 30  QpA         9562 non-null   float64
 31  QpE         9562 non-null   int64
 32  QqA         9562 non-null   float64
 33  QqE         9562 non-null   int64
 34  QrA         9562 non-null   float64
 35  QrE         9562 non-null   int64
 36  QsA         9562 non-null   float64
 37  QsE         9562 non-null   int64
 38  QtA         9562 non-null   float64
 39  QtE         9562 non-null   int64
 40  age_group   9562 non-null   int64
 41  education   9562 non-null   int64
 42  engnat      9562 non-null   int64
 43  familysize  9562 non-null   int64
 44  gender      9562 non-null   int64
 45  hand        9562 non-null   int64
 46  married     9562 non-null   int64
 47  race        9562 non-null   int64
 48  religion    9562 non-null   int64
 49  tp01        9562 non-null   int64
 50  tp02        9562 non-null   int64
 51  tp03        9562 non-null   int64
 52  tp04        9562 non-null   int64
 53  tp05        9562 non-null   int64
 54  tp06        9562 non-null   int64
 55  tp07        9562 non-null   int64
 56  tp08        9562 non-null   int64
 57  tp09        9562 non-null   int64
 58  tp10        9562 non-null   int64
 59  urban       9562 non-null   int64
 60  wf_01       9562 non-null   int64
 61  wf_02       9562 non-null   int64
 62  wf_03       9562 non-null   int64
 63  wr_01       9562 non-null   int64
 64  wr_02       9562 non-null   int64
 65  wr_03       9562 non-null   int64
 66  wr_04       9562 non-null   int64
 67  wr_05       9562 non-null   int64
 68  wr_06       9562 non-null   int64
 69  wr_07       9562 non-null   int64
 70  wr_08       9562 non-null   int64
 71  wr_09       9562 non-null   int64
 72  wr_10       9562 non-null   int64
 73  wr_11       9562 non-null   int64
 74  wr_12       9562 non-null   int64
 75  wr_13       9562 non-null   int64
dtypes: float64(20), int64(56)
memory usage: 5.5 MB
None

#### 모델 학습

- 클래스인 voted 가 1,2 중 하나 이므로 분류 문제

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=5, weights='distance') # weights=uniform 디폴트 값
neigh.fit(x_train, y_train)

y_train_pred = neigh.predict(x_train)
y_test_pred = neigh.predict(x_test)

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_train, y_train_pred))

0.0

In [ ]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=1).fit(x_train, y_train)

y_train_pred2 = clf.predict(x_train)
y_test_pred2 = clf.predict(x_test)

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_train, y_train_pred2))

0.4492155983863738

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
import numpy as np
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

clf = LinearDiscriminantAnalysis(solver='svd')  # solver='svd, ‘lsqr’, ‘eigen'
clf.fit(x_train, y_train)


y_train_pred3 = clf.predict(x_train)
y_test_pred3 = clf.predict(x_test)

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_train, y_train_pred3))

0.3269834155087405

In [ ]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

clf = QuadraticDiscriminantAnalysis()
clf.fit(x_train, y_train)


y_train_pred4 = clf.predict(x_train)
y_test_pred4 = clf.predict(x_test)

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_train, y_train_pred4))

0.48498431196772745

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(criterion='entropy', random_state=1)

clf.fit(x_train, y_train)

y_train_pred5 = clf.predict(x_train)
y_test_pred5 = clf.predict(x_test)

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_train, y_train_pred5))

# cross_val_score(clf, iris.data, iris.target, cv=10)

0.0

In [ ]:

from sklearn.linear_model import LinearRegression


reg = LinearRegression().fit(x_train, y_train)
#reg.score(x_train, x_train)

y_train_pred6 = reg.predict(x_train)
y_test_pred6 = reg.predict(x_test)

from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_train, y_train_pred6))

0.2112535641387817

## 제출 데이터 생성

In [ ]:
submit_data = pd.read_csv('sampleSubmission.csv')

print(submit_data)
print(type(submit_data))
print(submit_data.shape)
print(submit_data.info())

      index  voted
0         6      1
1        10      1
2        12      1
3        14      1
4        25      1
...     ...    ...
9557  45506      1
9558  45509      1
9559  45512      1
9560  45516      1
9561  45529      1

[9562 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
(9562, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9562 entries, 0 to 9561
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   9562 non-null   int64
 1   voted   9562 non-null   int64
dtypes: int64(2)
memory usage: 149.5 KB
None

In [ ]:
submit_data['voted'] = y_test_pred

print(submit_data)

submit_data.to_csv('submit1.csv',index=None)

      index  voted
0         6      1
1        10      1
2        12      2
3        14      2
4        25      1
...     ...    ...
9557  45506      1
9558  45509      2
9559  45512      2
9560  45516      2
9561  45529      2

[9562 rows x 2 columns]

In [ ]:
submit_data['voted'] = y_test_pred2

print(submit_data)

submit_data.to_csv('submit2.csv',index=None)

      index  voted
0         6      2
1        10      2
2        12      2
3        14      2
4        25      2
...     ...    ...
9557  45506      2
9558  45509      2
9559  45512      2
9560  45516      2
9561  45529      2

[9562 rows x 2 columns]

In [ ]:
submit_data['voted'] = y_test_pred3

print(submit_data)

submit_data.to_csv('submit3_encoding.csv',index=None)

      index  voted
0         6      2
1        10      2
2        12      2
3        14      1
4        25      1
...     ...    ...
9557  45506      2
9558  45509      2
9559  45512      2
9560  45516      1
9561  45529      2

[9562 rows x 2 columns]

In [ ]:
submit_data['voted'] = y_test_pred4

print(submit_data)

submit_data.to_csv('submit4.csv',index=None)

      index  voted
0         6      1
1        10      1
2        12      1
3        14      1
4        25      1
...     ...    ...
9557  45506      1
9558  45509      1
9559  45512      2
9560  45516      1
9561  45529      1

[9562 rows x 2 columns]

In [ ]:
submit_data['voted'] = y_test_pred5

print(submit_data)

submit_data.to_csv('submit5.csv',index=None)

      index  voted
0         6      2
1        10      1
2        12      1
3        14      2
4        25      2
...     ...    ...
9557  45506      2
9558  45509      1
9559  45512      2
9560  45516      2
9561  45529      2

[9562 rows x 2 columns]

In [ ]:
submit_data['voted'] = y_test_pred6

print(submit_data)

submit_data.to_csv('submit6.csv',index=None)

      index     voted
0         6  1.668984
1        10  1.381736
2        12  1.509485
3        14  1.378120
4        25  1.158161
...     ...       ...
9557  45506  1.653128
9558  45509  1.445566
9559  45512  1.829845
9560  45516  1.437070
9561  45529  1.661797

[9562 rows x 2 columns]

## 결과
- LDA 가 성능 잘 나옴