In [ ]:
import numpy as np # linear algebra
import pandas as pd

In [ ]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test_data.csv')
print(train_data.info())
print(test_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  709 non-null    int64
 1   0           709 non-null    float64
 2   1           709 non-null    float64
 3   2           709 non-null    float64
 4   3           709 non-null    float64
 5   4           709 non-null    float64
 6   5           709 non-null    float64
 7   6           709 non-null    float64
 8   7           709 non-null    float64
 9   8           709 non-null    float64
dtypes: float64(9), int64(1)
memory usage: 55.5 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  50 non-null     int64
 1   0           50 non-null     float64
 2   1           50 non-null     float64
 3   2           50 non-null     float64
 4   3           50 non-null     float64
 5   4           50 non-null     float64
 6   5           50 non-null     float64
 7   6           50 non-null     float64
 8   7           50 non-null     float64
 9   8           0 non-null      float64
dtypes: float64(9), int64(1)
memory usage: 4.0 KB
None

결측치 없고 모두 실수

In [ ]:
train_data

     Unnamed: 0         0         1  ...         6         7    8
0             0 -0.294118  0.487437  ... -0.531170 -0.033333  0.0
1             1 -0.882353 -0.145729  ... -0.766866 -0.666667  1.0
2             2 -0.058824  0.839196  ... -0.492741 -0.633333  0.0
3             3 -0.882353 -0.105528  ... -0.923997  0.000000  1.0
4             4  0.000000  0.376884  ...  0.887276 -0.600000  0.0
..          ...       ...       ...  ...       ...       ...  ...
704         704  0.000000  0.346734  ... -0.766012  0.000000  1.0
705         705 -0.647059  0.025126  ... -0.963279 -0.633333  1.0
706         706 -0.176471  0.879397  ... -0.361230 -0.566667  0.0
707         707 -0.647059  0.738693  ... -0.238258 -0.666667  0.0
708         708  0.176471 -0.055276  ... -0.558497  0.166667  1.0

[709 rows x 10 columns]

- 첫째 열은 그냥 id 열

마지막 열이 당뇨병 분류 컬럼

In [ ]:
test_data

    Unnamed: 0         0         1         2  ...         5         6         7   8
0            0 -0.882353  0.085427 -0.016393  ...  0.058122 -0.712212 -0.900000 NaN
1            1 -0.411765 -0.025126  0.245902  ...  0.061103 -0.743809  0.033333 NaN
2            2 -0.529412 -0.165829  0.409836  ... -0.126677 -0.795901 -0.566667 NaN
3            3 -0.882353  0.145729  0.081967  ...  0.135618 -0.819812  0.000000 NaN
4            4 -0.882353  0.497487  0.114754  ... -0.126677 -0.768574 -0.300000 NaN
5            5 -0.411765  0.175879  0.409836  ...  0.165425 -0.852263 -0.300000 NaN
6            6 -0.882353  0.115578  0.540984  ... -0.022355 -0.840307 -0.200000 NaN
7            7 -0.529412  0.125628  0.278689  ...  0.174367 -0.865073 -0.433333 NaN
8            8 -0.882353  0.165829  0.278689  ...  0.076006 -0.643040 -0.866667 NaN
9            9  0.000000  0.417085  0.377049  ... -0.034277 -0.696840 -0.966667 NaN
10          10 -0.764706  0.758794  0.442623  ... -0.317437 -0.788215 -0.966667 NaN
11          11 -0.764706 -0.075377 -0.147541  ... -0.102832 -0.946200 -0.966667 NaN
12          12 -0.647059  0.306533  0.278689  ... -0.153502 -0.790777 -0.566667 NaN
13          13 -0.058824  0.206030  0.409836  ... -0.153502 -0.845431 -0.966667 NaN
14          14 -0.764706  0.748744  0.442623  ...  0.326379 -0.514944 -0.900000 NaN
15          15 -0.764706  0.065327 -0.081967  ... -0.135618 -0.702818 -0.966667 NaN
16          16 -0.764706  0.055276  0.229508  ... -0.305514 -0.588386  0.066667 NaN
17          17 -0.529412 -0.045226 -0.016393  ...  0.055142 -0.824082 -0.766667 NaN
18          18  0.000000  0.266332  0.409836  ... -0.183308 -0.626815  0.000000 NaN
19          19 -0.058824 -0.346734  0.180328  ... -0.046200 -0.554227 -0.300000 NaN
20          20 -0.764706 -0.005025 -0.016393  ...  0.090909 -0.679761  0.000000 NaN
21          21 -0.882353  0.025126  0.213115  ...  0.177347 -0.816396 -0.300000 NaN
22          22  0.294118  0.206030  0.311475  ...  0.260805 -0.396243 -0.100000 NaN
23          23 -0.647059  0.025126 -0.278689  ... -0.081967 -0.725021 -0.833333 NaN
24          24 -0.882353  0.095477 -0.049180  ... -0.150522 -0.879590 -0.966667 NaN
25          25  0.058824  0.407035  0.540984  ... -0.025335 -0.439795 -0.200000 NaN
26          26  0.529412  0.537688  0.442623  ...  0.210134 -0.064048 -0.400000 NaN
27          27  0.411765  0.005025  0.377049  ... -0.105812 -0.649872 -0.166667 NaN
28          28 -0.882353  0.477387  0.540984  ...  0.469449 -0.760888 -0.800000 NaN
29          29 -0.882353 -0.185930  0.213115  ...  0.380030 -0.130658 -0.633333 NaN
30          30 -0.647059  0.879397  0.147541  ...  0.084948 -0.718190 -0.500000 NaN
31          31 -0.294118  0.628141  0.016393  ... -0.275708 -0.914603 -0.033333 NaN
32          32 -0.529412  0.366834  0.147541  ... -0.070045 -0.057216 -0.966667 NaN
33          33 -0.882353  0.216080  0.278689  ...  0.162444 -0.843723 -0.766667 NaN
34          34 -0.647059  0.085427  0.016393  ... -0.225037 -0.876174 -0.866667 NaN
35          35  0.000000  0.819095  0.442623  ...  0.290611 -0.877028 -0.833333 NaN
36          36 -0.058824  0.547739  0.278689  ... -0.034277 -0.688301 -0.200000 NaN
37          37 -0.882353  0.286432  0.442623  ...  0.087928 -0.163962 -0.466667 NaN
38          38 -0.176471  0.376884  0.475410  ... -0.046200 -0.732707 -0.400000 NaN
39          39  0.000000  0.236181  0.180328  ...  0.081967 -0.846285  0.033333 NaN
40          40 -0.882353  0.065327  0.245902  ...  0.117735 -0.898377 -0.833333 NaN
41          41 -0.294118  0.909548  0.508197  ...  0.058122 -0.829206  0.500000 NaN
42          42 -0.764706 -0.115578 -0.049180  ... -0.153502 -0.412468 -0.966667 NaN
43          43  0.058824  0.708543  0.213115  ...  0.311475 -0.722459 -0.266667 NaN
44          44  0.058824 -0.105528  0.016393  ... -0.329359 -0.945346 -0.600000 NaN
45          45  0.176471  0.015075  0.245902  ... -0.019374 -0.920581  0.400000 NaN
46          46 -0.764706  0.226131  0.147541  ...  0.096870 -0.776260 -0.800000 NaN
47          47 -0.411765  0.216080  0.180328  ... -0.219076 -0.857387 -0.700000 NaN
48          48 -0.882353  0.266332 -0.016393  ... -0.102832 -0.768574 -0.133333 NaN
49          49 -0.882353 -0.065327  0.147541  ... -0.093890 -0.797609 -0.933333 NaN

[50 rows x 10 columns]

마지막 클래스 열이 nan 값으로 처리해야 함

## 데이터 전처리

In [ ]:
train_data_lst = train_data[['1','2','8']]
print(train_data_lst)
print(type(train_data_lst))
print(train_data_lst.shape)

            1         2    8
0    0.487437  0.180328  0.0
1   -0.145729  0.081967  1.0
2    0.839196  0.049180  0.0
3   -0.105528  0.081967  1.0
4    0.376884 -0.344262  0.0
..        ...       ...  ...
704  0.346734 -0.049180  1.0
705  0.025126  0.213115  1.0
706  0.879397 -0.180328  0.0
707  0.738693  0.278689  0.0
708 -0.055276  0.180328  1.0

[709 rows x 3 columns]
<class 'pandas.core.frame.DataFrame'>
(709, 3)

In [ ]:
train_data_np = np.array(train_data)
x_train_np = train_data_np[:,1:9]
y_train_np = train_data_np[:,9]

print(x_train_np)

print(y_train_np)

x_train_pd = pd.DataFrame(x_train)
y_train_pd = pd.DataFrame(y_train)
print(x_train_pd)
print(type(x_train_pd))
print(x_train_pd.shape)
print(y_train_pd)
print(type(y_train_pd))
print(y_train_pd.shape)

[[-0.294118    0.487437    0.180328   ...  0.00149028 -0.53117
  -0.0333333 ]
 [-0.882353   -0.145729    0.0819672  ... -0.207153   -0.766866
  -0.666667  ]
 [-0.0588235   0.839196    0.0491803  ... -0.305514   -0.492741
  -0.633333  ]
 ...
 [-0.176471    0.879397   -0.180328   ...  0.0104323  -0.36123
  -0.566667  ]
 [-0.647059    0.738693    0.278689   ...  0.00745157 -0.238258
  -0.666667  ]
 [ 0.176471   -0.0552764   0.180328   ... -0.311475   -0.558497
   0.166667  ]]
[0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 0.
 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0. 0. 1. 1. 1. 0. 1. 0. 1. 1. 0. 1.
 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 0. 1. 0. 1. 1. 1. 0. 1. 0. 1.
 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1.
 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 1. 1. 1. 0. 1.
 1. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1.
 1. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1.
 0. 0. 1. 1. 1. 0. 1. 0. 1. 0. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0.
 1. 0. 1. 0. 0. 0. 1. 1. 1. 1. 1. 1. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0. 0. 1.
 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 0.
 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 0. 1. 1. 0. 1. 0. 1.
 1. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 0. 0. 1. 0. 1. 1. 1. 0. 0.
 0. 1. 1. 0. 1. 0. 1. 0. 0. 1. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 1. 0. 1. 1.
 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 0. 0. 0. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1.
 1. 0. 1. 1. 0. 0. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0.
 1. 1. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 1. 1. 1.
 0. 0. 1. 0. 1. 0. 1. 1. 1. 1. 0. 0. 1. 0. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1.
 1. 1. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 0. 0. 1.
 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 0.
 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0.
 1. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 1. 1.
 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 0. 0. 1. 0. 1.
 1. 1. 1. 0. 0. 1. 0. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 1. 1. 1. 0.
 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 0. 1. 1.
 0. 1. 0. 1. 1. 1. 1. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1. 1. 1. 1. 0. 0. 1. 1.
 1. 0. 1. 0. 0. 1. 1. 0. 1. 1. 0. 0. 1.]
            0         1         2  ...         5         6         7
0   -0.294118  0.487437  0.180328  ...  0.001490 -0.531170 -0.033333
1   -0.882353 -0.145729  0.081967  ... -0.207153 -0.766866 -0.666667
2   -0.058824  0.839196  0.049180  ... -0.305514 -0.492741 -0.633333
3   -0.882353 -0.105528  0.081967  ... -0.162444 -0.923997  0.000000
4    0.000000  0.376884 -0.344262  ...  0.284650  0.887276 -0.600000
..        ...       ...       ...  ...       ...       ...       ...
704  0.000000  0.346734 -0.049180  ... -0.213115 -0.766012  0.000000
705 -0.647059  0.025126  0.213115  ... -0.120715 -0.963279 -0.633333
706 -0.176471  0.879397 -0.180328  ...  0.010432 -0.361230 -0.566667
707 -0.647059  0.738693  0.278689  ...  0.007452 -0.238258 -0.666667
708  0.176471 -0.055276  0.180328  ... -0.311475 -0.558497  0.166667

[709 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
(709, 8)
       8
0    0.0
1    1.0
2    0.0
3    1.0
4    0.0
..   ...
704  1.0
705  1.0
706  0.0
707  0.0
708  1.0

[709 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>
(709, 1)

x 열에서 첫번째 id 칸은 필요없으므로 drop

In [ ]:
x_train = train_data.iloc[:,1:9]
y_train = train_data.iloc[:,9]

print(x_train)
print(y_train)

            0         1         2  ...         5         6         7
0   -0.294118  0.487437  0.180328  ...  0.001490 -0.531170 -0.033333
1   -0.882353 -0.145729  0.081967  ... -0.207153 -0.766866 -0.666667
2   -0.058824  0.839196  0.049180  ... -0.305514 -0.492741 -0.633333
3   -0.882353 -0.105528  0.081967  ... -0.162444 -0.923997  0.000000
4    0.000000  0.376884 -0.344262  ...  0.284650  0.887276 -0.600000
..        ...       ...       ...  ...       ...       ...       ...
704  0.000000  0.346734 -0.049180  ... -0.213115 -0.766012  0.000000
705 -0.647059  0.025126  0.213115  ... -0.120715 -0.963279 -0.633333
706 -0.176471  0.879397 -0.180328  ...  0.010432 -0.361230 -0.566667
707 -0.647059  0.738693  0.278689  ...  0.007452 -0.238258 -0.666667
708  0.176471 -0.055276  0.180328  ... -0.311475 -0.558497  0.166667

[709 rows x 8 columns]
0      0.0
1      1.0
2      0.0
3      1.0
4      0.0
      ...
704    1.0
705    1.0
706    0.0
707    0.0
708    1.0
Name: 8, Length: 709, dtype: float64

## 모델 설계 및 실행

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=5,p=2) # 5개 를 기준으로 거리공식2
knn.fit(x_train_pd,y_train_pd)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
knn = KNeighborsClassifier(n_neighbors=5,p=2) # 5개 를 기준으로 거리공식2
knn.fit(x_train,y_train)

In [ ]:
type(y_train)

pandas.core.series.Series

In [ ]:
y_train.shape

(709,)

In [ ]:
y_train_np = np.array(y_train).reshape(-1,1).shape

1열에서 8열 까지만 feature 여서 뽑아옴

In [ ]:
test_data_np = np.array(test_data)
x_test_np = test_data_np[:,1:9]
x_test_pd = pd.DataFrame(x_test_np)

print(x_test_pd)

           0         1         2  ...         5         6         7
0  -0.882353  0.085427 -0.016393  ...  0.058122 -0.712212 -0.900000
1  -0.411765 -0.025126  0.245902  ...  0.061103 -0.743809  0.033333
2  -0.529412 -0.165829  0.409836  ... -0.126677 -0.795901 -0.566667
3  -0.882353  0.145729  0.081967  ...  0.135618 -0.819812  0.000000
4  -0.882353  0.497487  0.114754  ... -0.126677 -0.768574 -0.300000
5  -0.411765  0.175879  0.409836  ...  0.165425 -0.852263 -0.300000
6  -0.882353  0.115578  0.540984  ... -0.022355 -0.840307 -0.200000
7  -0.529412  0.125628  0.278689  ...  0.174367 -0.865073 -0.433333
8  -0.882353  0.165829  0.278689  ...  0.076006 -0.643040 -0.866667
9   0.000000  0.417085  0.377049  ... -0.034277 -0.696840 -0.966667
10 -0.764706  0.758794  0.442623  ... -0.317437 -0.788215 -0.966667
11 -0.764706 -0.075377 -0.147541  ... -0.102832 -0.946200 -0.966667
12 -0.647059  0.306533  0.278689  ... -0.153502 -0.790777 -0.566667
13 -0.058824  0.206030  0.409836  ... -0.153502 -0.845431 -0.966667
14 -0.764706  0.748744  0.442623  ...  0.326379 -0.514944 -0.900000
15 -0.764706  0.065327 -0.081967  ... -0.135618 -0.702818 -0.966667
16 -0.764706  0.055276  0.229508  ... -0.305514 -0.588386  0.066667
17 -0.529412 -0.045226 -0.016393  ...  0.055142 -0.824082 -0.766667
18  0.000000  0.266332  0.409836  ... -0.183308 -0.626815  0.000000
19 -0.058824 -0.346734  0.180328  ... -0.046200 -0.554227 -0.300000
20 -0.764706 -0.005025 -0.016393  ...  0.090909 -0.679761  0.000000
21 -0.882353  0.025126  0.213115  ...  0.177347 -0.816396 -0.300000
22  0.294118  0.206030  0.311475  ...  0.260805 -0.396243 -0.100000
23 -0.647059  0.025126 -0.278689  ... -0.081967 -0.725021 -0.833333
24 -0.882353  0.095477 -0.049180  ... -0.150522 -0.879590 -0.966667
25  0.058824  0.407035  0.540984  ... -0.025335 -0.439795 -0.200000
26  0.529412  0.537688  0.442623  ...  0.210134 -0.064048 -0.400000
27  0.411765  0.005025  0.377049  ... -0.105812 -0.649872 -0.166667
28 -0.882353  0.477387  0.540984  ...  0.469449 -0.760888 -0.800000
29 -0.882353 -0.185930  0.213115  ...  0.380030 -0.130658 -0.633333
30 -0.647059  0.879397  0.147541  ...  0.084948 -0.718190 -0.500000
31 -0.294118  0.628141  0.016393  ... -0.275708 -0.914603 -0.033333
32 -0.529412  0.366834  0.147541  ... -0.070045 -0.057216 -0.966667
33 -0.882353  0.216080  0.278689  ...  0.162444 -0.843723 -0.766667
34 -0.647059  0.085427  0.016393  ... -0.225037 -0.876174 -0.866667
35  0.000000  0.819095  0.442623  ...  0.290611 -0.877028 -0.833333
36 -0.058824  0.547739  0.278689  ... -0.034277 -0.688301 -0.200000
37 -0.882353  0.286432  0.442623  ...  0.087928 -0.163962 -0.466667
38 -0.176471  0.376884  0.475410  ... -0.046200 -0.732707 -0.400000
39  0.000000  0.236181  0.180328  ...  0.081967 -0.846285  0.033333
40 -0.882353  0.065327  0.245902  ...  0.117735 -0.898377 -0.833333
41 -0.294118  0.909548  0.508197  ...  0.058122 -0.829206  0.500000
42 -0.764706 -0.115578 -0.049180  ... -0.153502 -0.412468 -0.966667
43  0.058824  0.708543  0.213115  ...  0.311475 -0.722459 -0.266667
44  0.058824 -0.105528  0.016393  ... -0.329359 -0.945346 -0.600000
45  0.176471  0.015075  0.245902  ... -0.019374 -0.920581  0.400000
46 -0.764706  0.226131  0.147541  ...  0.096870 -0.776260 -0.800000
47 -0.411765  0.216080  0.180328  ... -0.219076 -0.857387 -0.700000
48 -0.882353  0.266332 -0.016393  ... -0.102832 -0.768574 -0.133333
49 -0.882353 -0.065327  0.147541  ... -0.093890 -0.797609 -0.933333

[50 rows x 8 columns]

In [ ]:
x_test = test_data.iloc[:,1:9]
x_test

           0         1         2  ...         5         6         7
0  -0.882353  0.085427 -0.016393  ...  0.058122 -0.712212 -0.900000
1  -0.411765 -0.025126  0.245902  ...  0.061103 -0.743809  0.033333
2  -0.529412 -0.165829  0.409836  ... -0.126677 -0.795901 -0.566667
3  -0.882353  0.145729  0.081967  ...  0.135618 -0.819812  0.000000
4  -0.882353  0.497487  0.114754  ... -0.126677 -0.768574 -0.300000
5  -0.411765  0.175879  0.409836  ...  0.165425 -0.852263 -0.300000
6  -0.882353  0.115578  0.540984  ... -0.022355 -0.840307 -0.200000
7  -0.529412  0.125628  0.278689  ...  0.174367 -0.865073 -0.433333
8  -0.882353  0.165829  0.278689  ...  0.076006 -0.643040 -0.866667
9   0.000000  0.417085  0.377049  ... -0.034277 -0.696840 -0.966667
10 -0.764706  0.758794  0.442623  ... -0.317437 -0.788215 -0.966667
11 -0.764706 -0.075377 -0.147541  ... -0.102832 -0.946200 -0.966667
12 -0.647059  0.306533  0.278689  ... -0.153502 -0.790777 -0.566667
13 -0.058824  0.206030  0.409836  ... -0.153502 -0.845431 -0.966667
14 -0.764706  0.748744  0.442623  ...  0.326379 -0.514944 -0.900000
15 -0.764706  0.065327 -0.081967  ... -0.135618 -0.702818 -0.966667
16 -0.764706  0.055276  0.229508  ... -0.305514 -0.588386  0.066667
17 -0.529412 -0.045226 -0.016393  ...  0.055142 -0.824082 -0.766667
18  0.000000  0.266332  0.409836  ... -0.183308 -0.626815  0.000000
19 -0.058824 -0.346734  0.180328  ... -0.046200 -0.554227 -0.300000
20 -0.764706 -0.005025 -0.016393  ...  0.090909 -0.679761  0.000000
21 -0.882353  0.025126  0.213115  ...  0.177347 -0.816396 -0.300000
22  0.294118  0.206030  0.311475  ...  0.260805 -0.396243 -0.100000
23 -0.647059  0.025126 -0.278689  ... -0.081967 -0.725021 -0.833333
24 -0.882353  0.095477 -0.049180  ... -0.150522 -0.879590 -0.966667
25  0.058824  0.407035  0.540984  ... -0.025335 -0.439795 -0.200000
26  0.529412  0.537688  0.442623  ...  0.210134 -0.064048 -0.400000
27  0.411765  0.005025  0.377049  ... -0.105812 -0.649872 -0.166667
28 -0.882353  0.477387  0.540984  ...  0.469449 -0.760888 -0.800000
29 -0.882353 -0.185930  0.213115  ...  0.380030 -0.130658 -0.633333
30 -0.647059  0.879397  0.147541  ...  0.084948 -0.718190 -0.500000
31 -0.294118  0.628141  0.016393  ... -0.275708 -0.914603 -0.033333
32 -0.529412  0.366834  0.147541  ... -0.070045 -0.057216 -0.966667
33 -0.882353  0.216080  0.278689  ...  0.162444 -0.843723 -0.766667
34 -0.647059  0.085427  0.016393  ... -0.225037 -0.876174 -0.866667
35  0.000000  0.819095  0.442623  ...  0.290611 -0.877028 -0.833333
36 -0.058824  0.547739  0.278689  ... -0.034277 -0.688301 -0.200000
37 -0.882353  0.286432  0.442623  ...  0.087928 -0.163962 -0.466667
38 -0.176471  0.376884  0.475410  ... -0.046200 -0.732707 -0.400000
39  0.000000  0.236181  0.180328  ...  0.081967 -0.846285  0.033333
40 -0.882353  0.065327  0.245902  ...  0.117735 -0.898377 -0.833333
41 -0.294118  0.909548  0.508197  ...  0.058122 -0.829206  0.500000
42 -0.764706 -0.115578 -0.049180  ... -0.153502 -0.412468 -0.966667
43  0.058824  0.708543  0.213115  ...  0.311475 -0.722459 -0.266667
44  0.058824 -0.105528  0.016393  ... -0.329359 -0.945346 -0.600000
45  0.176471  0.015075  0.245902  ... -0.019374 -0.920581  0.400000
46 -0.764706  0.226131  0.147541  ...  0.096870 -0.776260 -0.800000
47 -0.411765  0.216080  0.180328  ... -0.219076 -0.857387 -0.700000
48 -0.882353  0.266332 -0.016393  ... -0.102832 -0.768574 -0.133333
49 -0.882353 -0.065327  0.147541  ... -0.093890 -0.797609 -0.933333

[50 rows x 8 columns]

In [ ]:
type(x_test)

pandas.core.frame.DataFrame

In [ ]:
x_test.shape

(50, 8)

In [ ]:
x_test_np = np.array(x_test)
x_test_np.shape
type(x_test_np)

numpy.ndarray

In [ ]:
#y_train_np = np.array(y_train)
print(knn.predict(x_test_np))

[1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 0. 0. 0. 1. 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1.
 1. 1.]

In [ ]:
print(knn.predict(x_test_pd))
y_test_pred = knn.predict(x_test_pd)
print(y_test_pred)
print(type(y_test_pred))
print(y_test_pred.shape)

[1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 0. 0. 0. 1. 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1.
 1. 1.]
[1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 0. 0. 0. 1. 1. 0. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1.
 1. 1.]
<class 'numpy.ndarray'>
(50,)

In [ ]:
#print(knn.predict_proba(x_test_pd))

[[0.2 0.8]
 [0.2 0.8]
 [0.  1. ]
 [0.4 0.6]
 [0.4 0.6]
 [0.2 0.8]
 [0.4 0.6]
 [0.6 0.4]
 [0.  1. ]
 [0.4 0.6]
 [0.4 0.6]
 [0.  1. ]
 [0.2 0.8]
 [0.6 0.4]
 [0.6 0.4]
 [0.  1. ]
 [0.4 0.6]
 [0.  1. ]
 [0.4 0.6]
 [0.2 0.8]
 [0.  1. ]
 [0.2 0.8]
 [0.8 0.2]
 [0.  1. ]
 [0.  1. ]
 [0.6 0.4]
 [1.  0. ]
 [0.8 0.2]
 [0.2 0.8]
 [0.4 0.6]
 [0.8 0.2]
 [0.6 0.4]
 [0.4 0.6]
 [0.  1. ]
 [0.  1. ]
 [0.8 0.2]
 [0.8 0.2]
 [0.8 0.2]
 [0.4 0.6]
 [0.2 0.8]
 [0.2 0.8]
 [0.2 0.8]
 [0.  1. ]
 [1.  0. ]
 [0.  1. ]
 [0.  1. ]
 [0.2 0.8]
 [0.2 0.8]
 [0.2 0.8]
 [0.  1. ]]

In [ ]:
submit_data = pd.read_csv('submission_form.csv')
submit_data

    ID  Label
0    0    NaN
1    1    NaN
2    2    NaN
3    3    NaN
4    4    NaN
5    5    NaN
6    6    NaN
7    7    NaN
8    8    NaN
9    9    NaN
10  10    NaN
11  11    NaN
12  12    NaN
13  13    NaN
14  14    NaN
15  15    NaN
16  16    NaN
17  17    NaN
18  18    NaN
19  19    NaN
20  20    NaN
21  21    NaN
22  22    NaN
23  23    NaN
24  24    NaN
25  25    NaN
26  26    NaN
27  27    NaN
28  28    NaN
29  29    NaN
30  30    NaN
31  31    NaN
32  32    NaN
33  33    NaN
34  34    NaN
35  35    NaN
36  36    NaN
37  37    NaN
38  38    NaN
39  39    NaN
40  40    NaN
41  41    NaN
42  42    NaN
43  43    NaN
44  44    NaN
45  45    NaN
46  46    NaN
47  47    NaN
48  48    NaN
49  49    NaN

In [ ]:
result = pd.DataFrame({'ID':submit_data['ID'],'Label':y_test_pred})
print(result)

    ID  Label
0    0    1.0
1    1    1.0
2    2    1.0
3    3    1.0
4    4    1.0
5    5    1.0
6    6    1.0
7    7    0.0
8    8    1.0
9    9    1.0
10  10    1.0
11  11    1.0
12  12    1.0
13  13    0.0
14  14    0.0
15  15    1.0
16  16    1.0
17  17    1.0
18  18    1.0
19  19    1.0
20  20    1.0
21  21    1.0
22  22    0.0
23  23    1.0
24  24    1.0
25  25    0.0
26  26    0.0
27  27    0.0
28  28    1.0
29  29    1.0
30  30    0.0
31  31    0.0
32  32    1.0
33  33    1.0
34  34    1.0
35  35    0.0
36  36    0.0
37  37    0.0
38  38    1.0
39  39    1.0
40  40    1.0
41  41    1.0
42  42    1.0
43  43    0.0
44  44    1.0
45  45    1.0
46  46    1.0
47  47    1.0
48  48    1.0
49  49    1.0

예측 값의 자료형이 float 라 int 로 형변환

In [ ]:
result2 = result.astype(np.int32)
result2

    ID  Label
0    0      1
1    1      1
2    2      1
3    3      1
4    4      1
5    5      1
6    6      1
7    7      0
8    8      1
9    9      1
10  10      1
11  11      1
12  12      1
13  13      0
14  14      0
15  15      1
16  16      1
17  17      1
18  18      1
19  19      1
20  20      1
21  21      1
22  22      0
23  23      1
24  24      1
25  25      0
26  26      0
27  27      0
28  28      1
29  29      1
30  30      0
31  31      0
32  32      1
33  33      1
34  34      1
35  35      0
36  36      0
37  37      0
38  38      1
39  39      1
40  40      1
41  41      1
42  42      1
43  43      0
44  44      1
45  45      1
46  46      1
47  47      1
48  48      1
49  49      1

In [ ]:
result2.to_csv("submit2.csv",index=False,header=True)